#objeto{
	text-transform:uppercase;
}

.bannersro{
	text-align: center;
}
.banner-geral {
	max-width: 100%;
}
table.cards tr {
	padding: 0 0 1rem 0;
	border-radius: .5rem !important;
	background-color: white !important;
	/*display: flex;*/
	flex-flow: row wrap;
	box-shadow: 0 .5rem 1rem rgba(0, 0, .15, .15) !important;
	-webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, .15, .15) !important;
	-moz-box-shadow: 0 .5rem 1rem rgba(0, 0, .15, .15) !important;
	margin: 1rem !important;

}
.infos-rastro {
	display: flex;
	flex-flow: column nowrap;

}
.has-btn{
	border-top: solid 0.5rem ;
	border-top-color:#f1c40f;
	border-radius: 0.5rem 0.5rem 0 0;
}
.no-has-btn{
	border-top: solid 0.5rem ;
	border-top-color:#1a5cb9;
	border-radius: 0.5rem 0.5rem 0 0;
}

.icon-has-btn{
	color:#f1c40f ;
}

.prazoEntrega-info {
	display: none;
}

table.cards.tab thead {
position: sticky;
top: 5em;
z-index: 1;
}
.ctn-tabela > .dados {
	flex: 1 1 auto;
	overflow: visible;
	height: inherit;
}

.objeto-info span::before {
	content: attr(data-th)": ";
	display: inline;
	color: black;
}
.status-info::before {
	content: attr(data-th)": ";
	display: inline;
	color: black;
}

.objeto-info,.status-info, .prazoEntrega-info{
	flex-flow: column nowrap;
	margin-bottom: 0.75rem;

}
.status-info{
	flex: 1 0 50%;
}
.objeto-info, .prazoEntrega-info{
	flex: 0 1 25%;
}

.tabs > nav {
	overflow-x: hidden
}

.head-tabela-rastro {
	text-align: center;
}
.botao-servico{
	border: 1px solid;
	border-color: #0062cc;
	color: #0069d9;
}
table tr header{
	position: absolute;
	border-radius: 8px 8px 0 0;
	width: 100%;
	height: 1em;
	line-height: 3em;
	padding: 0 1em;
	background: #ffff00;
	z-index: 10;
}

.data-status{
	display: none;
}

.tabs > nav a {

}
a:not([href]):not([tabindex]) {
	color: #0071ad;
}
[data-th="Status"]{
	color: black;
	vertical-align: text-top;
}
[data-th="Objeto"]{
	font-weight: bold;
	color: #0071ad;
	vertical-align: text-top;
}

.jumbotron {
	padding: 1rem 1rem;
	margin-bottom: 1rem;
	margin-right: -16px;
	margin-left: -16px;
	border-radius: 0;
}

main {
	min-height: calc(100vh - 15rem);
}

.botao-principal {
	height: 2.5rem;
	margin-top: 1rem;
	border-radius: 0.25rem;
	z-index: 1;
	width: auto;
	margin: 1rem auto;
	background-color: var(--azul);
	font-size: large;
}
* {
	color: inherit;
}
.breadcrumb {
	background-color:inherit;
}

.barra-btns{
	/*display: none;*/
	display: flex;
	flex-direction: column;
}
.btns{
	width: inherit;
	padding-right: 1rem;
}
/*.fa-minus-circle{*/
/*    color: #f1c40f;*/
/*}*/

.rastrosUnicos{
	/*display: none;*/
	display: block;
	padding-left: 2rem;
	padding-top: 1rem;
}
.esconde{
	display: none !important;
}

#trilha a:nth-child(1) {
	display: none;
}
#trilha a:nth-child(n + 3) {
	display: none;
}
#trilha a:nth-child(2){
	color: black;
	background: url("../core/templates/bunker/img/arrow-left.svg") no-repeat left 2px center;
	padding-left: 1.5rem;
}

 #titulo-pagina h3{
	 font-size: x-large;
	 font-weight: bold;
	 text-align: justify;
	 color: #00416b;/*azul correios*/
 }

 .icone-btn{
	 width: 20px;
 }
 .btn i{
	 color: #ffc20e;
 }

.btn .fa-share-alt{
	 color: #0071ad;
 }

.fa-times-circle-o{
	color: red;
}
.th-fixo-ponta{
	width: 25%;
}
.th-fixo-meio{
	width: auto;
}
.unidade-endereco{
	display: none;
}
.tab > nav{
	z-index: 1;
}

#menu {
	z-index: 2;
}

#captcha_image{
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	width: 80%;
}
.captcha{
	display: flex;
	flex-flow: column;
	flex-wrap: nowrap;
}

.icone-locker{
	width: 2em;
	height: 2em;
	vertical-align: middle;

}
.btnLckIcon{
	display: inline;
}
.lckrIframe{
	height: 100%;
	width: auto;
}

/*Barra de icones compartilhar e imprimir.*/
.share-bar{
	color: #00416b;
}
.share-bar a{
	font-size: 1.09em !important;
}


.print{
	display: none;
}
.noPrint{
	display: block;
}

ul.cabecalho-rastro {
	display: flex;
	justify-content: start;
}

.xtwiter{
	width: 1.29em;
	font-size: 1.0em;
	line-height: .75em;
	vertical-align: -43%;
}

.social-media-modal {
	display: flex;
	flex-direction: column;
	position: relative;
	-moz-box-pack: center;
	justify-content: center;
	-moz-box-align: center;
	align-items: center;
}

#modalshare .social-media-modal-arrow{
	width: 0px;
	height: 0px;
	position: relative;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgb(255, 255, 255);
	top: 1px;
}
.social-media-modal-wrapper {
	display: flex;
	justify-content: space-evenly;
	-moz-box-align: center;
	align-items: center;
	width: 140px;
	height: 30px;
	border: 1px solid rgb(211, 210, 218);
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 8px 0px;
	background-color: rgb(255, 255, 255);
}

#modalshare  section {
	background: transparent;
	padding: 0;
	width: 140px;
}

.vertical {
	flex-direction: column;
	width: 30px;
	height: 140px;
}


@media (min-width: 768px) {
	nav, #tabs-rastreamento, #breadcrumb {
		width: 738px;
		margin: auto;
	}

	.captcha {
		flex-flow: row;
	}

	.fa-volume-up, .fa-refresh {
		font-size: 2em;
	}

}

@media (min-width: 992px) {
	nav, #tabs-rastreamento, #breadcrumb {
		width: 962px;
		margin: auto;
	}
	#trilha a {
		display: flex !important;
	}
	#trilha a:nth-child(n + 2){
		color: #0070ad;
	}
	#trilha a:nth-child(2){
		color: #0070ad;
		padding: 0 1.25rem 0 0;
		background: url("../core/templates/bunker/img/arrow-right-black.svg") no-repeat right 2px center;
		background-size: 1rem;
		white-space: nowrap;
	}
	.unidade-endereco{
		display: block;
	}

}

.carrinho {
            width: 300px;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .carrinho-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }

        .carrinho-header .badge {
            background-color: #007bff;
            color: white;
            border-radius: 50%;
            padding: 5px 10px;
        }

        .produto {
            display: flex;
            align-items: center;
            margin-top: 15px;
        }

        .produto-valores {
            display: flex;
            align-items: center;
            margin-top: 15px;
            font-size: 21px;
            font-weight: 700;
        }

        .produto img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .produto-info {
            flex-grow: 1;
        }

        .produto-info h4 {
            margin: 0;
            font-size: 16px;
            font-weight: normal;
			text-align: left;
        }

        .produto-info h5 {
    margin: 0;
    font-size: 19px;
    font-weight: 700;
    text-align: left;
}

.product h6 {
    margin: 0;
    font-size: 21px;
    font-weight: 700;
}

        .produto-info p {
            margin: 5px 0;
            color: #777;
            font-size: 14px;
			text-align: left;
        }

        .subtotal {
            margin-top: 15px;
            text-align: right;
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }

@media (min-width: 1200px){
	/*table.cards tr :last-child {*/
	/*    display: block;*/
	/*}*/
	table {
		margin: 1rem auto;
		border-collapse: collapse;
		width: 100%;
	}

	table.cards.tab th, table.cards.tab td {
		font-size: 1rem;
		padding: 0.5rem 0.5rem;
	}

	.btn-barra1 {
		min-width: 20% !important;
	}

	.infos-rastro{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

	}
	.prazoEntrega-info {
		display: block;
	}
	.objeto-info span::before {
		content: inherit;
	}
	.status-info::before {
		content: inherit;
	}
	.has-btn{
		border-left: solid 0.5rem ;
		border-left-color:#f1c40f;
		border-top: none;
	}
	.no-has-btn{
		border-left: solid 0.5rem ;
		border-left-color:transparent;
		border-top: none;
	}

	table.cards tr {
		border-bottom: 1px solid #e0e0e0 !important;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;

	}
	.barra-btns{
		/*display: none;*/
		display: flex;
		justify-content: flex-start;
		align-items: baseline;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.btns{
		width: var(--lado-botao);
	}

	main {
		min-height: calc(100vh - 5.2rem);
	}

	#trilha a {
		display: flex !important;
	}

	#trilha a:nth-child(n + 2){
		color: #0070ad;
	}
	#trilha a:nth-child(2){
		color: #0070ad;
		padding: 0 1.25rem 0 0;
		background: url("../core/templates/bunker/img/arrow-right-black.svg") no-repeat right 2px center;
		background-size: 1rem;
		white-space: nowrap;
	}
}

@media print {
	#acessibilidade, #menu, .jumbotron, .rastrosUnicos, .bannersro, #rodape, .barra-btns, .objeto-info>a, .rastrosUnicos.esconde, .barra-btns.esconde, .btn, .msg, .act, #alerta, #loading{
		display: none !important;
	}
	#tab-enviadoParaVoce>nav>a, #tab-enviadoPorVoce>nav>a, .tabs > nav a:hover, .tabs > nav a.sel {
		background: #d9d9d9;
		color: black;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	#titulo-pagina>h3, #divParaVc, #divParaVc > div > span, #divPorVc, #divPorVc > div > span {
		color: black;
	}
	#divParaVc, #divPorVc, #tabs2 {
		border: 2px solid black;
	}
	nav, .infos-rastro {
		display: flex;
		flex-direction: row;
	}
	.infos-rastro {
		justify-content: space-around;
	}
	.status-info {
		flex-wrap: wrap;
	}
	table.th-fixo{
		margin: 0;
		width: 100%;
	}
	table.th-fixo th, table.th-fixo.cards.tab>thead {
		position: static;
		z-index: auto;
	}
	table.th-fixo.cards.tab>thead {
		border: solid 1px black;
	}
	table.cards.tab th {
		background: white;
		color: black;
		border-bottom: solid 2px black;
	}
	table.cards.tab thead {
		display: block;
		position: static;
	}
	.tabs > section > div {
		display: block;
	}
	.tabs > nav {
		position: static;
		top: 3rem;
		display: flex;
		overflow-x: auto;
	}
	.print{
		display: block;
		text-align: center;
		color: black;
		border: solid 2px black;
		padding: 0.5rem;
		width: 100%;
	}
	.noPrint{
		display: none !important;
	}
	table.cards thead {
		display: block;
	}
	table.cards tr {
		padding: 0 0 0 0;
		border-radius: 0 !important;
		background-color: white !important;
		display: flex;
		flex-flow: row;
		box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
		-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
		-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
		margin: 0 !important;
		border-bottom: 2px solid black !important;
	}
	.status-info::before {
		content: normal;
		display: none;
		color: initial;
	}
	.objeto-info span::before {
		content: normal;
		display: none;
		color: initial;
	}
	.prazoEntrega-info {
		display: block;
	}
	.d-table-row {
		display: flex !important;
	}

	.bgGrayPrint{
		background: #d9d9d9;

	}
	.barPrint{
		padding: 0.5em;
	}


}

        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            overflow-x: hidden;
        }

        header {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .img-mobile, .img-desktop {
            width: 100%;
            height: auto;
        }

        /* Por padrão, ocultamos a imagem de desktop */
        .img-desktop {
            display: none;
        }

        /* Para telas acima de 768px (tablets e computadores), exibimos a imagem de desktop e ocultamos a de celular */
        @media (min-width: 768px) {
            .img-desktop {
                display: block;
            }
            .img-mobile {
                display: none;
            }
        }

        /* Estilos para a imagem e o texto sobreposto */
        .image-container {
            position: relative;
            width: 100%;
            height: auto;
            margin-top: 20px;
        }

        .image-container img {
            width: 100%;
            height: auto;
            display: block;
        }

        .text-overlay {
    position: absolute;
    color: black;
    font-size: 12px;
    font-weight: bold;
    transform: translate(-50%, -50%); /* Ajusta o posicionamento relativo ao ponto central */
}

/* Estilos para cada data em específico, utilizando unidades relativas */
.curitiba1 {
    top: 13%; /* Proporcional à altura da imagem */
    left: 20%;
}

.curitiba2 {
    top: 30%;
    left: 20%;
}

.curitiba3 {
    top: 47%;
    left: 20%;
}

.china1 {
    top: 65%;
    left: 20%;
}

.china2 {
    top: 82%;
    left: 20%;
}

        .card {
            background-color: #fff7e6;
            border-radius: 8px;
            padding: 20px;
            width: 100%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            font-family: Arial, sans-serif;
            margin: 0 auto;
        }

        .status {
            color: #ff5e5e;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .rastreamento {
            color: #333;
            margin-bottom: 10px;
        }

        .tarifa {
            color: #333;
            font-size: 18px;
            margin-bottom: 20px;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
        }

        .btn {
            background-color: #ff5e5e;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 45%;
            text-align: center;
        }

        .btn:hover {
            background-color: #e14b4b;
        }

        .prazo {
            color: #555;
            font-size: 14px;
            margin-top: 20px;
            text-align: center;
        }
        .blinking-dot {
  height: 12px;
  width: 12px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  animation: blink 1.5s infinite;
}



#rodape {
        background: url('https://rastreamento.correios.com.br/core/templates/bunker/img/bg-amarelo.svg');
        color: #000;
        padding: 40px 20px;
        width: 100%;
        margin: 0;
		background-repeat: no-repeat;
        background-size: cover;
    }

	#rodape h2 {
    margin-bottom: 1.0rem;
    line-height: 1.2em;
    font-size: 1.602em;
    color: #003157;
    font-weight: bold;
}

    .recipiente.largura-maxima {
        max-width: 1200px;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .rodape-links {
        flex: 1 1 300px;
        margin: 10px;
    }

    .rodape-links ul {
        list-style-type: none;
        padding: 0;
    }

    .rodape-links li {
        margin-bottom: 15px;
    }

    .rodape-links a {
        color: #000;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .icones-link {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }

    .copyright {
        text-align: center;
        padding-top: 20px;
        font-size: 14px;
    }

    @media (max-width: 768px) {
        .recipiente.largura-maxima {
            flex-direction: column;
            align-items: center;
        }

        .rodape-links {
            text-align: center;
            flex-basis: 100%;
        }
    }

.timeline {
            width: 100%;
            border-radius: 10px;
            padding: 20px;
            position: relative;
			margin: 0 auto;
        }

        .timeline2 {
            width: 100%;
            border-radius: 10px;
            padding: 20px;
            position: relative;
			margin: 0 auto;
        }

		.timeline-faq {
            width: 100%;
            background-color: #fff7e6;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 20px;
            position: relative;
			margin: 0 auto;
        }
        .timeline-item {
            display: flex;
            align-items: center;
            padding: 15px 0;
            position: relative;
        }
        .timeline-item:not(:last-child) {
            margin-bottom: 10px;
        }
        .timeline-icon-container {
            width: 60px;
            height: 60px;
            background-color: #f0f0f0;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 2;
            margin-right: 10px;
        }
        .timeline-icon {
            width: 45px;
            height: 45px;
            filter: brightness(0) saturate(100%) invert(40%) sepia(98%) saturate(743%) hue-rotate(199deg) brightness(85%) contrast(90%);
        }
        .timeline-content {
            flex: 1;
            padding-left: 10px;
			text-align: left;
        }
        .timeline-title {
            font-weight: bold;
            font-size: 14px;
			color: #00416b;
            margin-bottom: 3px;
        }
        .timeline-date {
            font-size: 12px;
            color: #888;
            margin-bottom: 5px;
        }
        .timeline-description {
            font-size: 13px;
            color: #555;
        }
        .timeline::before {
            content: '';
            position: absolute;
            left: 49px;
            top: 60px;
            bottom: 40px;
            width: 3px;
            background-color: #ff0000; /* Linha amarela */
            z-index: 1;
        }

		.timeline::after {
    content: '';
    position: absolute;
    left: 49px;
    top: 29%;
    bottom: 40px;
    width: 3px;
    background-color: #ffcc00; /* Parte inferior amarela */
    z-index: 1;
}

