.flex {
    display: flex;
}

.width100 {
    width: 100%;
}

.height100 {
    height: 100%;
}

.height90 {
    height: 90%;
}

.width50 {
    width: 50%;
}

.grid {
    display: grid;
}

/* .toast2 {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 375px;
    z-index: 99;
    background: #fff;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    border-left: 3px solid red;
    overflow: hidden;
    transform: translateX(calc(100% + 25px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toastsucesso {
    border-left: 4px solid green;
}

.toastwarning {
    border-left: 4px solid orange;
}

.toasterro {
    border-left: 4px solid red;
}

.toast2.active {
    transform: translateX(0);
}

.toast2 i:first-child {
    color: red;
    font-size: 20px;
}

.toast-text {
    margin: 0;
    font-size: 0.8125rem;
    text-transform: uppercase;
}

.toast2 i:last-child {
    color: #ccc;
    cursor: pointer;
    transition: 350ms;
}

.toast2 i:last-child:hover {
    color: #333;
} */

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
  }
  
  .toast2 {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
    z-index: 999999;
    margin: 10px;
    max-height: 90px;
    border-radius: 20px;
  }
  
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
  
  .toast--success {
    border-color: #47d864;
  }
  
  .toast--success .toast__icon {
    color: #47d864;
  }
  
  .toast--info {
    border-color: #2f86eb;
  }
  
  .toast--info .toast__icon {
    color: #2f86eb;
  }
  
  .toast--warning {
    border-color: #ffc021;
  }
  
  .toast--warning .toast__icon {
    color: #ffc021;
  }
  
  .toast--error {
    border-color: #ff0000;
  }
  
  .toast--error .toast__icon {
    color: #ff0000;
  }
  
  .toast + .toast {
    margin-top: 24px;
  }
  
  .toast__icon {
    font-size: 24px;
  }
  
  .toast__icon,
  .toast__close {
    padding: 0 16px;
  }
  
  .toast__body {
    flex-grow: 1;
  }
  
  .toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  
  .toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
  }
  
  .toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .h6pedidos{
    font-size: 0.7rem !important;
  }
  
  .width20{
    width: 20%;
  }

  .width5{
    width: 5%;
  }

  .width10{
    width: 10%;
  }

  .centraliza{
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .width15{
    width: 15%;
  }
.divaddloja {
    width: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.margin5 {
    margin: 5px;
}

.cardminhaloja {
    margin: 25px;
    justify-content: center;
    align-items: center;
}

.activemodal {
    background: gainsboro;
    border-radius: 30px;
}

.cursorpointer {
    cursor: pointer;
}

.widthmodal {
    width: 60%;
}
.jc{
    justify-content: center;
}

.imgmodal {
    border-radius: 10px;
    /* border: 1px; */
    /* border: 1px solid gainsboro; */
    display: flex;
    max-width: 300px;
    max-height: 110px;
}

.btnbanner{
  width: 100% !important;
  margin-top: 10px;
  height: 40px;
  border-radius: 17px !important;
}

@media (max-width:961px) {
    .widthmodal {
        width: 100%;
    }
    .widthlogomodal {
        display: none;
    }
}

@media (min-width: 1280) {
    .widthmodal {
        width: 60%;
    }
    .widthlogomodal {
        width: 40%;
    }
}

span[id^="jqxWidget"] {
    color: transparent !important;
}

.tab_loja {
    padding-left: 10px;
    border-radius: 5px;
    padding-right: 10px;
}

.selected_tab_loja {
    background: gainsboro;
    border-radius: 30px;
}

.temavermelho {
    background-color: #f5365c !important;
}

.abacheckoutativo {
    background-color: gainsboro !important;
}


.ql-toolbar.ql-snow {
    border: 0px solid #ccc !important;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 8px;
}

.ql-container.ql-snow {
  border: 0px solid #ccc !important;
}

.code-editor {
  border: 1px solid #ccc;
  padding: 10px;
  font-family: monospace;
  font-size: 14px;
  border-radius: 10px;
  background-color: #f5f5f5;
  margin: 10px;
}